.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-text-2 {
  margin: 103px 829px 0 224px;
}

.u-section-1 .u-text-3 {
  margin: 20px 829px 0 224px;
}

.u-section-1 .u-text-4 {
  margin: 20px 829px 0 224px;
}

.u-section-1 .u-image-1 {
  width: 325px;
  height: 325px;
  margin: -221px 20px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -84px 829px 0 224px;
}

.u-section-1 .u-text-6 {
  margin: 20px 829px 0 224px;
}

.u-section-1 .u-text-7 {
  margin: -208px 565px 0 488px;
}

.u-section-1 .u-text-8 {
  margin: 20px 565px 0 488px;
}

.u-section-1 .u-text-9 {
  margin: 20px 565px 0 488px;
}

.u-section-1 .u-text-10 {
  margin: 20px 533px 0 488px;
}

.u-section-1 .u-text-11 {
  margin: 20px 533px 0 488px;
}

.u-section-1 .u-text-12 {
  margin: 20px 829px 0 224px;
}

.u-section-1 .u-text-13 {
  margin: -26px 533px 0 488px;
}

.u-section-1 .u-text-14 {
  margin: 20px 829px 0 224px;
}

.u-section-1 .u-text-15 {
  margin: -26px 533px 60px 488px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 124px;
    margin-right: 729px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 124px;
    margin-right: 729px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 124px;
    margin-right: 729px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 729px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 729px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 388px;
    margin-right: 465px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 388px;
    margin-right: 465px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 388px;
    margin-right: 465px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 433px;
    margin-left: 388px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 388px;
    margin-right: 433px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 729px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 388px;
    margin-right: 433px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 729px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 433px;
    margin-left: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 14px;
    margin-right: 619px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 14px;
    margin-right: 619px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 14px;
    margin-right: 619px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 619px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 619px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 278px;
    margin-right: 355px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 278px;
    margin-right: 355px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 278px;
    margin-right: 355px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 323px;
    margin-left: 278px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 278px;
    margin-right: 323px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 619px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 278px;
    margin-right: 323px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 619px;
    margin-left: 14px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 323px;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 453px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 453px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 453px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 188px;
    margin-right: 265px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 188px;
    margin-right: 265px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 188px;
    margin-right: 265px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 233px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 188px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 188px;
    margin-right: 233px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 233px;
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 253px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 15px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 88px;
    margin-right: 165px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 88px;
    margin-right: 165px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 88px;
    margin-right: 165px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 133px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 88px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 88px;
    margin-right: 133px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 253px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 133px;
    margin-left: 88px;
  }
}