.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 38px auto 0 414px;
}

.u-section-1 .u-form-1 {
  height: 183px;
  margin: 29px 306px 60px 264px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 341px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 206px;
    margin-left: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 261px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 96px;
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 196px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 123px;
  }
}