.u-section-1 {
  background-image: none;
  min-height: 582px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 22px 22px;
  min-height: 522px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 400px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 259px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 524px;
}

.u-section-2 .u-text-1 {
  margin: 60px 0;
}